.home {
  min-height: calc(100vh - 70px);
  background-image: url('/public/home-page-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.home h1 {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px 40px;
  border-radius: 8px;
  font-size: 28px;
  font-weight: 600;
  color: #3a2e26;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
}
